openapi: 3.0.3
info:
  title: PDFMunk PDF Parse API
  version: 1.0.0
  description: |
    Parse PDFs into structured JSON: text, layout-aware blocks with bboxes, tables, and image metadata.

    ## Authentication
    All endpoints require a `CLIENT-API-KEY` header for authentication.
servers:
  - url: https://pdfmunk.com/api
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: PDF Parsing
    description: Parse PDFs into structured content

paths:
  /v1/pdf/parse:
    post:
      tags:
        - PDF Parsing
      summary: Parse a PDF into structured JSON
      description: |
        Extracts text, layout-aware blocks (with normalized bounding boxes), tables, and image metadata.

        Input can be either:
        - Multipart upload with `file`, or
        - A `url` pointing to a PDF (JSON body or multipart form field).

        Modes:
        - `text`: text only
        - `layout`: text + text blocks with bbox
        - `tables`: text + table blocks
        - `full`: text + blocks + tables + images
      operationId: pdfParse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  description: Public URL to a PDF
                  example: https://example.com/document.pdf
                mode:
                  type: string
                  enum: [text, layout, tables, full]
                  default: full
                pages:
                  type: string
                  description: Page selection: 'all' or a range like '1-3' or a single page like '2'
                  default: all
                  example: 1-3
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to parse
                url:
                  type: string
                  format: uri
                  description: URL to a PDF (alternative to file upload)
                mode:
                  type: string
                  enum: [text, layout, tables, full]
                  default: full
                pages:
                  type: string
                  description: Page selection: 'all' or a range like '1-3' or a single page like '2'
                  default: all
      responses:
        '200':
          description: Parsed PDF
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      pages:
                        type: integer
                        example: 3
                      scanned:
                        type: boolean
                        example: false
                      language:
                        type: string
                        example: en
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        page:
                          type: integer
                          example: 1
                        text:
                          type: string
                        blocks:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum: [paragraph, heading, table, image]
                              text:
                                type: string
                                nullable: true
                              rows:
                                type: array
                                nullable: true
                                items:
                                  type: array
                                  items:
                                    type: string
                              bbox:
                                type: array
                                description: Normalized [x0, y0, x1, y1] in 0..1
                                minItems: 4
                                maxItems: 4
                                items:
                                  type: number
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        image_id:
                          type: string
                          example: img_1
                        page:
                          type: integer
                          example: 1
                        bbox:
                          type: array
                          minItems: 4
                          maxItems: 4
                          items:
                            type: number
                        format:
                          type: string
                          example: png
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: CLIENT-API-KEY
      description: API key for authentication. Get your key from https://pdfmunk.com/dashboard

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Invalid API key
        success:
          type: boolean
          example: false
        details:
          type: string
          description: Additional error details (optional)
      required:
        - error
        - success
